html, body {
  margin: 0;
  padding: 0;
}

body, 
input {
  font-family: Helvetica, Arial, sans-serif;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  opacity: 0.6;
  background-color: white;
  vertical-align: middle;
  line-height: 2em;
  color: #333;
}
#navbar:hover {
  opacity: 1;
}

label {
  float: right;
  text-align: right;
  width: 35%;
}
input#search  {
  width: 70%;
  margin: 3px;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 1.5em;
  font-size: 16px;
  outline: none;
}

.nav-item {
  display: inline-block;
  width: 15%;
  text-align: center;
  cursor: pointer;
}
.nav-item:hover, 
.nav-item.selected {
  color: black;
  background-color: #ccc;
}

#searchResults {
  display: none;
  position: absolute;
  top: 2em;
  right: 0;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 2px;
  padding: 5px;
  background-color: white;
  opacity: 0.8;
}
#searchResults .header {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: bolder;
  background-color: #ccc;
  padding: 3px;
}
#searchResults .result {
  margin: 3px 1em;
  padding: 5px;
  cursor: pointer;
}
#searchResults .result:hover {
  background-color: #ccc;
}
#searchResults .event.result {}
#searchResults .community.result {}


/* styles for iPhone/Android landscape (and really narrow browser windows) */
@media all and (max-width: 480px) {}
/* styles for iPhone/Android portrait */
@media all and (max-width: 320px) {}
/* styles for smaller devices */
@media all and (max-width: 240px) {}