html, body {
  margin: 0;
  padding: 0;
}

body, 
input {
  font-family: Helvetica, Arial, sans-serif;
}

#navbar {
  width: 100%;
  background-color: white;
  vertical-align: middle;
  height: 30px;
  color: #333;
}
#navbar:hover {
  color: black;
}
#layout-map #navbar {
  position: absolute;
  top: 0;
  opacity: 0.8;
}


/* ***** map styles styles ***** */
#map {
  position: fixed;
  height: 100%;
  width: 100%;
}

/* ***** calendar styles ***** */
#calendar {
  margin: 10px;
  overflow: scroll;
}
.past {
  background-color: gray;
}


/* ***** event styles ***** */
#events {
  margin: 10px;
}

/* ***** community styles ***** */
#communities {
  margin: 10px;
}

/* ***** resources styles ***** */
#resources {
  margin: 10px;
}



label#search {
  float: right;
  text-align: right;
  width: 35%;
}
label#search input  {
  width: 70%;
  margin: 3px;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 1.5em;
  font-size: 16px;
  outline: none;
}

#nav-menu {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  margin: 0em;
  padding-left: 0;
  line-height: 2em;
}

.nav-item {
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
  width: 100px;
}
.nav-item:hover, 
.nav-item.selected {
  color: black;
  background-color: #ccc;
}

#navicon {
  display: none;
}

/* ***** event details ***** */
#eventDetail {
  display: none;
}
#closeEventDetail {
  float: right;
}
i.remove.icon {
  cursor: pointer;
}
#eventDetailContent {
  padding: 0 1.5em 1.5em 1.5em;
  clear: both;
}
#eventDetail .eventNameAndDate .name {
  font-weight: bold;
}
#eventDetail .eventIsInPast {
  color: darkgray;
  font-style: italic;
}

/* ***** event editing ***** */
#editEvent {
  width: 800px;
  margin: 10px auto;
}
#editEvent > label {
  display: block;
  margin-bottom: 10px;
}
#editEvent > label > span {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  text-align: right;
}
#editEvent > label > span::after {
  content: ':';
}
#editEvent > label > input[type=text], 
#editEvent > label > textarea {
  width: 60%;
  font-size: 1em;
}

/* ***** search results ***** */
#searchResults {
  display: none;
  position: absolute;
  z-index: 10;
  top: 2em;
  right: 0;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 2px;
  padding: 5px;
  background-color: white;
  opacity: 0.8;
} 

#searchResults .header {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: bolder;
  background-color: #ccc;
  padding: 3px;
}
#searchResults .result {
  margin: 3px 1em;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
#searchResults .result:hover {
  background-color: #ccc;
}
#searchResults .event.result {}
#searchResults .community.result {}



/* styles for iPhone/Android landscape (and really narrow browser windows) */
@media all and (max-width: 480px) {
  label#search {
    width: 80%;
  }
  
  // TODO: calendar styles
  
  #searchResults {
    width: 95%;
  }
  
  #navicon {
    display: inline-block;
    margin-left: 6px;
    margin-top: 6px;
    width: 20px;
    height: 20px;
  }
  
  #nav-menu {
    display: none;
    top: 2em;
    left: 0;
    text-align: left;
    vertical-align: middle;
    margin: 0em;
    padding-left: 0;
    line-height: 2em;
    height: inherit;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 10;
  }
  
  .nav-item {
    display: block;
    padding-left: 1em;
    height: inherit;
  }
}

/* ***** communities.html ***** */

.countryHeader {
    font-weight: bold;
    font-size: 1.1em;
}

ul.countryCommunityList {
    margin: 5px 0;
    list-style: none;
    padding-left: 25px;
}
ul.countryCommunityList li {
    display: block;
    border: 1px solid lightgray;
    margin-bottom: 5px;
    padding: 8px;
}
ul.countryCommunityList li.noContact {
  border-color: red;  
}
  
/* styles for iPhone/Android portrait */
/*
@media all and (max-width: 320px) {
  label#search {
    width: 80%;
  }

  #searchResults {
    width: 100%;
  }

  #navicon {
    display: inline;
    margin-left: 6px;
  }
}*/

  
/* styles for smaller devices */
@media all and (max-width: 240px) {}