<template name="communities">
 <div id="communities">
  {{#each countries}}
  <div class="countryHeader">{{.}}</div>
  
  <ul class="countryCommunityList">
    {{#each communities .}}
    <li class={{checkContactExists}}>
      {{#if canEdit}}
      <div class="editCommunity">[Edit]</div>
      {{/if}}
      <div class="addContact">[Add Contact]</div>
      <div>{{description}}</div>
      <div><a href="mailto:{{regionalContactEmail}}">{{regionalContactEmail}}</a></div>
      <div><a href="{{regionalContactUri}}">{{regionalContactUri}}</a></div>
      <div><a href="{{fbPage}}">{{fbPage}}</a></div>
      <div><a href="{{twitter}}">{{twitter}}</a></div>
    </li>
    {{/each}}
  </ul>
  
  {{/each}}
 </div>
</template>