<!--
name
description
location
contact
fbPage
regionalContactEmail
regionalContactUri
twitter
uris
-->

<template name="communityList">
 <div id="communities">
  {{#each countries}}
  <div class="countryHeader">{{.}}</div>
  
  <ul class="countryCommunityList">
    {{#each communities .}}
    <li class={{checkContactExists}}>
      {{#if canEdit}}
      <div class="commmunityEdit">Edit</div>
      {{/if}}
      <div class="addContact">Add Contact</div>
      <div>{{description}}</div>
      <div><a href="mailto:{{regionalContactEmail}}">{{regionalContactEmail}}</a></div>
      <div><a href="{{regionalContactUri}}">{{regionalContactUri}}</a></div>
      <div><a href="{{fbPage}}">{{fbPage}}</a></div>
      <div><a href="{{twitter}}">{{twitter}}</a></div>
    </li>
    {{/each}}
  </ul>
  
  {{/each}}
 </div>
</template>


<template name="communityDetail">
  <div id="communityDetail" class="ui small modal">
    <div id="communityDetailContent" class="modal-detail">
      <div class="right close" id="closeCommunityDetail">
        <i class="large remove icon"></i>
      </div>

      {{#with selectedCommunity}}
        <div class="name">{{name}}</div>

        <div class="communityDescription">{{description}}</div>

        {{#with getLocation}}
        <div class="communityLocation">
          Location: 
          {{#if city}}{{city}},{{/if}}
          {{country}}
        </div>
        {{/with}}

        {{#with getContact}}
        <div class="communityContact">Contact: {{name}}</div>
        {{/with}}

        {{#if fbPage}}
        <div class="communityFbCommunity">
          <a href="{{fbPage}}" target="_blank">Facebook Community</a>
        </div>
        {{/if}}

        {{#if communityUri}}
        <div class="communityUri">
          <a href="{{communityUri}}" target="_blank">Website</a>
        </div>
        {{/if}}

        {{#if regionalContactEmail}}
        <div class="communityRegionalContactEmail">
          <a href="mailto:{{regionalContactEmail}}">{{regionalContactEmail}}</a>
        </div>
        {{/if}}

        {{#if regionalContactUri}}
        <div class="communityRegionalContactUri">
          <a href="{{regionalContactUri}}" target="_blank">{{regionalContactUri}}</a>
        </div>
        {{/if}}
        
        <div class="more" >
          {{#if canEdit}}<a href="/communities/{{_id}}/edit">Edit this community</a> |{{/if}}
          <a href="/communities/{{_id}}">More information</a>
        </div>
      {{/with}}
    </div>
  </div>
</template>


<template name="communityResult">
  <div class="community result">
    {{description}}
  </div>
</template>


<template name="commmunityEdit">
  <div id="commmunityEdit">
    == commmunityEdit coming soon == 
  </div>
</template>


<template name="commmunityView">
  <div id="commmunityView">
    == commmunityView coming soon == 
  </div>
</template>