<template name="editEvent">
  <div id="editEvent">
    {{#with selectedEvent}}
    <label>
      <span>Name</span>
      <input type="text" value="{{name}}" placeholder="Event Name">
    </label>
    
    <label>
      <span>Description</span>
      <textarea placeholder="Description">{{description}}</textarea>
    </label>
    
    <!--
    <label>
      <span>Start Date</span>
      <input type="date" value="{{startDateTime}}">
    </label>
    
    <label>
      <span>Start Time</span>
      <input type="time" value="{{startDateTime}}">
    </label>
    
    <label>
      <span>End Date</span>
      <input type="date" value="{{endDateTime}}">
    </label>
    
    <label>
      <span>End Time</span>
      <input type="time" value="{{endDateTime}}">
    </label>
    -->
    
    <label>
      <span>Facebook event</span>
      <input type="text" value="{{fbEvent}}" placeholder="Link or event id">
    </label>
    
    <label>
      <span>Website</span>
      <input type="text" value="{{eventUri}}" placeholder="Website link">
    </label>
    
    <label>
      <span>Ticket link</span>
      <input type="text" value="{{ticketUri}}" placeholder="Ticket link">
    </label>
    
    <label>
      <span>Tickets on sale?</span>
      <input type="checkbox" value="{{ticketsOnSale}}">
    </label>
    
    <label>
      <span>Submitted by</span>
      <input type="text" value="{{submitterName}}" readonly>
    </label>
    
  <!-- 
    location: "jTRT5uzdP2XwCojH9"
  --> 
    {{/with}}
  </div>
</template>