<!--
  name: String,
  description: String,
  startDateTime: Date,
  endDateTime: Date,
  recurrencePattern: Number,
  recurrenceDuration: Number,
  location: String, // id corresponding to Location collection
  contact: String, // id corresponding to Person collection
  submitterName: String,
  submitterEmail: String,
  fbEvent: String,
  eventUri: String,
  ticketsOnSale: Boolean, 
  // TODO: consider changing ticketsOnSale to ticketSaleStartDateTime
  ticketUri: String,
  uris: [String]
-->

<!-- list all events - this may not be necessary -->
<template name="eventList">
  <div id="events">
    == events view coming soon ==
  </div> 
</template>

<!-- modal to show minimal details (when clicking event icon on map) -->
<template name="eventDetail">
  <div id="eventDetail" class="ui small modal">
    <div id="eventDetailContent" class="modal-detail">
      <div class="right close" id="closeEventDetail">
        <i class="large remove icon"></i>
      </div>

      {{#with selectedEvent}}
        <div class="eventNameAndDate">
          <span class="name">{{name}}:</span>
          <span class="formattedDates">{{formattedDates startDateTime endDateTime}}</span>
        </div>

        {{#if isInPast}} 
        <div class="eventIsInPast">(This event is in the past)</div>
        {{/if}}

        <!-- TODO: recurrence -->
        <div class="eventDescription">{{description}}</div>

        {{#with getLocation}}
        <div class="eventLocation">Location: 
        {{#if city}}{{city}},{{/if}}
        {{country}}</div>
        {{/with}}

        {{#with getContact}}
        <div class="eventContact">Contact: {{name}}</div>
        {{/with}}

        {{#if fbEvent}}
        <div class="eventFbEvent">
          <a href="{{fbEvent}}" target="_blank">Facebook Event</a>
        </div>
        {{/if}}

        {{#if eventUri}}
        <div class="eventUri">
          <a href="{{eventUri}}" target="_blank">Website</a>
        </div>
        {{/if}}
        
        <div class="more">
          {{#if canEdit}}<a href="/events/{{_id}}/edit">Edit this event</a> |{{/if}}
          <a href="/events/{{_id}}">More information</a>
        </div>
      {{/with}}
    </div>
  </div>
</template>

<!-- show minimal details (when searching) -->
<template name="eventResult">
  <div class="event result">
    {{name}}
  </div>
</template>

<!-- edit an existing event -->
<template name="eventEdit">
  <div id="eventEdit">
    {{#with selectedEvent}}
    <label>
      <span>Name</span>
      <input type="text" value="{{name}}" placeholder="Event Name">
    </label>
    
    <label>
      <span>Description</span>
      <textarea placeholder="Description">{{description}}</textarea>
    </label>
    
    <!--
    <label>
      <span>Start Date</span>
      <input type="date" value="{{startDateTime}}">
    </label>
    
    <label>
      <span>Start Time</span>
      <input type="time" value="{{startDateTime}}">
    </label>
    
    <label>
      <span>End Date</span>
      <input type="date" value="{{endDateTime}}">
    </label>
    
    <label>
      <span>End Time</span>
      <input type="time" value="{{endDateTime}}">
    </label>
    -->
    
    <label>
      <span>Facebook event</span>
      <input type="text" value="{{fbEvent}}" placeholder="Link or event id">
    </label>
    
    <label>
      <span>Website</span>
      <input type="text" value="{{eventUri}}" placeholder="Website link">
    </label>
    
    <label>
      <span>Ticket link</span>
      <input type="text" value="{{ticketUri}}" placeholder="Ticket link">
    </label>
    
    <label>
      <span>Tickets on sale?</span>
      <input type="checkbox" value="{{ticketsOnSale}}">
    </label>
    
    <label>
      <span>Submitted by</span>
      <input type="text" value="{{submitterName}}" readonly>
    </label>
    {{/with}}
  </div>
</template>

<!-- view full event listing -->
<template name="eventView">
  <div id="eventView">
    == event view coming soon ==
    <!--
    {{#with selectedEvent}}
    <label>
      <span>Name</span>
      <input type="text" value="{{name}}" placeholder="Event Name">
    </label>

    <label>
      <span>Description</span>
      <textarea placeholder="Description">{{description}}</textarea>
    </label>

    <label>
      <span>Start Date</span>
      <input type="date" value="{{startDateTime}}">
    </label>

    <label>
      <span>Start Time</span>
      <input type="time" value="{{startDateTime}}">
    </label>

    <label>
      <span>End Date</span>
      <input type="date" value="{{endDateTime}}">
    </label>

    <label>
      <span>End Time</span>
      <input type="time" value="{{endDateTime}}">
    </label>

    <label>
      <span>Facebook event</span>
      <input type="text" value="{{fbEvent}}" placeholder="Link or event id">
    </label>

    <label>
      <span>Website</span>
      <input type="text" value="{{eventUri}}" placeholder="Website link">
    </label>

    <label>
      <span>Ticket link</span>
      <input type="text" value="{{ticketUri}}" placeholder="Ticket link">
    </label>

    <label>
      <span>Tickets on sale?</span>
      <input type="checkbox" value="{{ticketsOnSale}}">
    </label>

    <label>
      <span>Submitted by</span>
      <input type="text" value="{{submitterName}}" readonly>
    </label>
    {{/with}}
    -->
  </div>
</template>

<template name="eventNew">
  <div id="eventNew">
    == add new event coming soon == 
  </div>
</template>