<template name="navbar">
  <div id="navbar">
    <label id="search">
      Search
      <input type="text" placeholder="Name, location, city, country">
    </label>
    
    <ul id="nav-menu">
      <li class="nav-item" id="nav-map">Map</li>
      <li class="nav-item" id="nav-calendar">Calendar</li>
      
      <!--
      <li class="nav-item" id="nav-events">Events</li>
      <li class="nav-item" id="nav-groups">Groups</li>
      <li class="nav-item" id="nav-resources">Resources</li>
      -->
    </ul>

    <i id="navicon" class="fa fa-lg fa-navicon"></i>
  </div>
</template>