<template name="navbar">
  <div class="ui grid" id="brandbar">
    <div class="row" style="padding-top: 2px; padding-bottom: 2px;">

      <div class="four wide column">
        <div class="ui secondary menu">
          <a href="/" class="header item">euroburners.org</a>
        </div>
      </div>

      <div class="six wide column">
        <div class="ui secondary menu">
          <a class="item" id="nav-map">Map</a>
          <a class="item" id="nav-calendar">Calendar</a>
          <!-- <a class="item" id="nav-events">Events</a> -->
          <a class="item" id="nav-groups">Communities</a>
          <!--
          <div class="ui dropdown item">
            Resources
            <div class="menu transition hidden" tabindex="-1">
              <a class="item" href="http://www.burningman.org/" target="_blank">The Ten Principles</a>
              <a class="item" href="http://www.burningman.org/" target="_blank">Burning Man</a>
            </div>
          </div>
          --> 
        </div>
      </div>

      <div class="six wide column" style="text-align: right;">
        <div class="ui dropdown item" tabindex="0" style="display: inline-block; padding-right: 5px;">
          {{#if currentUser}}
          Welcome, {{currentUser.profile.firstName}}
          {{else}}
          Log in
          {{/if}}
          <div class="menu transition hidden" tabindex="-1" style="z-index: 100;">
            <a class="item" href="/events/new">Add Event</a>
            <!-- <a class="item" href="/">Edit Community</a> -->
          </div>
        </div>  

        <div class="menu" style="display: inline-block;">
          <div class="item">
            <div id="search" class="ui action right icon input">
              <i class="search icon"></i>
              <input type="text" placeholder="Event or place name">
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</template>